doctype html
html(lang='en')
  head
    title Fleeg - find, save and share links that matter to you
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    // including css
    link(rel='stylesheet' href='../css/theme.css')
    link(rel='stylesheet' href='../css/components.css')

    // including icons from font awsome
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.1.0/css/all.css' crossorigin='anonymous'
        integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt')

  body
    // content block
    block content
          
    // including bootstrap JS
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' crossorigin='anonymous'
          integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' crossorigin='anonymous'
          integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' crossorigin='anonymous'
          integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl')
    script.
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
