include searchbar.pug

mixin header(external=false, search=false)
  - var navbarclass = search ? 'border-bottom py-2' : 'navbar-dark'
  - var h1class = !search ? 'text-light' : ''

  // navbar top
  nav.navbar.navbar-expand.d-flex-wrap(class=navbarclass)
    .col-6.col-md-2
      a.navbar-brand(href='index.html')
        h1(class=h1class) Fleeg
          small
            small
              small
                small
                  small.text-muted Beta

    if search
      .col-6.col-xl-5.d-none.d-lg-inline.pl-xl-0
        +searchbar(!external)
    else
      .offset-lg-5

    if external
      // external right menu
      .navbar-collapse.justify-content-end
        .navbar-nav
          .nav-item.d-none.d-md-block
            a.nav-link(href='about.html') About
          .nav-item.mr-2.mr-lg-5
            a.nav-link(href='signin.html') Sign in
    else
      // external right menu
      .navbar-collapse.justify-content-end
        .navbar-nav
          .nav-item.mr-2.mr-lg-5
            button.btn.bg-none.nav-link(data-toggle='popover' data-trigger='focus' data-placement='bottom'
            data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.")
              img.border.rounded-circle.avatar-loggedin(src='https://avatars3.githubusercontent.com/u/742808')

    if search
      .col-12.d-block.d-lg-none
        +searchbar(false)
