include searchbar.pug

mixin header(external=false, search=false)
  - var navbarclass = search ? 'border-bottom py-2' : 'navbar-dark'
  - var h1class = !search ? 'text-light' : ''
  - var logolink = external ? 'index.html' : 'home.html'

  // navbar top
  nav.navbar.navbar-expand.d-flex-wrap(class=navbarclass)
    .col-6.col-md-2.pl-0.pl-md-3
      a.navbar-brand(href=logolink)
        h1(class=h1class) Fleeg
          small
            small
              small
                small
                  small.text-muted Beta

    if search
      .col-5.d-none.d-lg-inline.p-0
        +searchbar(!external)
    else
      .offset-lg-5

    if external
      // external right menu
      .navbar-collapse.justify-content-end
        .navbar-nav
          .nav-item.d-none.d-md-block
            a.nav-link(href='about.html') About
          .nav-item.mr-2.mr-lg-5
            a.nav-link(href='signin.html') Sign in
    else
      // internal right menu
      .navbar-collapse.justify-content-end
        .navbar-nav
          .nav-item.d-none.d-lg-flex.align-items-center.mr-3.mr-lg-4
            a.btn.p-0
              i.fa.fa-plus.align-middle.text-body.font-13
          .nav-item.d-none.d-lg-flex.align-items-center.mr-3.mr-lg-4
            a.btn.p-0(tabindex='0' role='button' data-toggle='popover' data-trigger='focus' data-placement='bottom'
                      data-animation='false' data-content='Notification items')
              i.far.fa-bell.align-middle.text-body.font-13
          .nav-item.mr-1.mr-md-3
            a.btn.p-0(tabindex='0' role='button' data-toggle='popover' data-html='true' data-placement='bottom'
                      data-animation='false' data-content='<div>Profile items</div><a href="#">Settings</a>')
              img.rounded-circle.avatar-loggedin(src='https://avatars3.githubusercontent.com/u/742808')

    if search
      .col-12.d-block.d-lg-none.p-0
        +searchbar(!external)
