mixin navmenu(type, active=0)
  - var activeclass = 'text-success border-bottom-solid'

  // nav with menu filters
  .bg-white.px-2.sticky-top.border-bottom
    .col.col-lg-10.offset-lg-2.px-0
      .nav.nav-pills.h-scroll.pb-2
        if type == 'search'
          a.btn.nav-link.pb-0(href='search.html'          class=active == 0 ? activeclass : '') All
          a.btn.nav-link.pb-0(href='search-articles.html' class=active == 1 ? activeclass : '') Articles
          a.btn.nav-link.pb-0(href='search-images.html'   class=active == 2 ? activeclass : '') Images
          a.btn.nav-link.pb-0(href='search-videos.html'   class=active == 3 ? activeclass : '') Videos
          a.btn.nav-link.pb-0(href='search-docs.html'     class=active == 4 ? activeclass : '') Documents
          a.btn.nav-link.pb-0(href='search-people.html'   class=active == 5 ? activeclass : '') People

        if type == 'home'
          a.btn.nav-link.pb-0(href='home.html'            class=active == 0 ? activeclass : '') For You
          a.btn.nav-link.pb-0(href='home-bookmarks.html'  class=active == 1 ? activeclass : '') My Bookmarks
          a.btn.nav-link.pb-0(href='home-articles.html'   class=active == 2 ? activeclass : '') Articles
          a.btn.nav-link.pb-0(href='home-images.html'     class=active == 3 ? activeclass : '') Images
          a.btn.nav-link.pb-0(href='home-videos.html'     class=active == 4 ? activeclass : '') Videos
          a.btn.nav-link.pb-0(href='home-docs.html'       class=active == 5 ? activeclass : '') Documents
          a.btn.nav-link.pb-0(href='home-people.html'     class=active == 6 ? activeclass : '') People

        if type == 'profile'
          a.btn.nav-link.pb-0(href='profile.html'           class=active == 0 ? activeclass : '') Profile
          a.btn.nav-link.pb-0(href='profile-bookmarks.html' class=active == 1 ? activeclass : '') Bookmarks
          a.btn.nav-link.pb-0(href='profile-following.html' class=active == 2 ? activeclass : '') Following
          a.btn.nav-link.pb-0(href='profile-followers.html' class=active == 3 ? activeclass : '') Followers
