doctype html
html(lang='en')
  head
    title Fleeg
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    // including bootstrap 4 with Lux theme
    link(rel='stylesheet' href='theme/lux-bootstrap.min.css')

    // including icons from font awsome
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" 
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")

  body
    .header.position-absolute.w-100.h-50.bg-primary
    .container-fluid
      // navbar top
      nav.navbar.navbar-expand.navbar-dark
        a.navbar-brand(href='#') 
          h1.text-light Fleeg  
            small
              small
                small
                  small.text-muted Beta
        .navbar-collapse.justify-content-end
          .navbar-nav
            .nav-item.d-none.d-md-block
              a.nav-link(href='#') About
            .nav-item.mr-2
              a.nav-link(href='#') Sign in

      // middle search input and button
      .container.text-center
        .row
          .col-lg-10.mx-auto
            h1.text-light.display-1 F
            .input-group.input-group-lg
              input.form-control.py-3.px-3(type='text' placeholder='Search for any link or people')
              .input-group-append
                button.btn.btn-success.py-3.px-3(type='button') 
                  i.fas.fa-search.px-1.d-md-none
                  span.d-none.d-md-inline Search

      // navbar footer
      nav.navbar.navbar-expand.fixed-bottom
        .navbar-collapse.justify-content-center
          .navbar-nav
            .nav-item.small.mr-3
              p.nav-link 2018 Foss
            .nav-item.small.mr-1
              a.nav-link(href='#') About
            .nav-item.small.mr-1
              a.nav-link(href='#') Terms
            .nav-item.small.mr-1
              a.nav-link(href='#') Privacy

    // including bootstrap JS
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js'
          integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'
          integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'
          integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
